@charset "UTF-8";

input, select, button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px;
}

.wrapper{
    width: 100%;
    background: #cff1ff;
}

.inner{
    margin: 0 auto;
    width: 600px;
}

.content__title{
    font-size: 18px;
    color: #000;
}

.label__section{
    margin-top: 25px;
}

.label__text{
    font-size: 14px;
    color: #464646;
}